#          Mode
NEXT_PUBLIC_SHALLWE_ENV_MODE=                   # DEV, QA, STAGE or PROD
#          Oauth
NEXT_PUBLIC_SHALLWE_OAUTH_CLIENT_ID=            # OAuth Client ID (get: Google Console)
NEXT_PUBLIC_SHALLWE_OAUTH_REDIRECT_URI=         # Public landing address (http(s):// + IP:port (locally) or domain address)
#          Network
NEXT_PUBLIC_SHALLWE_API_BASE_URL_EXTERNAL=      # Public backend address (http(s):// + IP:port or domain address)
NEXT_PUBLIC_SHALLWE_API_BASE_URL_INTERNAL=      # Local backend address (local URL:port if co-hosted, otherwise same as external)
#          Middleware
NEXT_PUBLIC_SHALLWE_SKIP_MIDDLEWARE=            # Whether to skip routing rules for test (true/false)
NEXT_PUBLIC_SHALLWE_MOCK_API=                   # Whether to mock api responses for test (true/false)
NEXT_PUBLIC_SHALLWE_MIDDLEWARE_COOKIES_SECURE=  # Whether to use secure cookies for middleware purposes (true/false)
#          Figma
FIGMA_TOKEN=                                    # Figma access key for API usage, used to pull design files in /design
FIGMA_FILE_KEY=                                 # Figma design file key (hash in design URL)